* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 16px;
  margin: 1em;
  background-image: url(images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

button {
    font-size: 1.5rem;
}

p {
    width: 30rem;
}

img {
    max-height: 20rem;
}

nav {
    float: right;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    border-bottom: 1px solid #fff;
}

.logo {
    max-height: 6rem;
}

h1 {
    text-align: center;
    margin-top: 5rem;
}

button {
    margin-left: 46%;
}

#loader {
  color: green;
  margin: 0;
  padding: 1em;
  width: calc(6 * 450px);
  list-style-position: inside;
  background: DARKSEAGREEN;
  transition: all 1s ease;
/*  display: none;*/
}

.show {
  display: block;
}

.hide {
  display: none;
}