* {
    font-family: 'Lato';
    font-weight: 400;
}

body {
  font-family: 'Lato';
  font-size: 16px;
  margin: 1em;
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

button {
    font-size: 1.5rem;
}

p {
    width: 30rem;
}

nav {
    float: right;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 1rem;
}

nav li a {
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 1rem;
}

nav li a:hover {
    background-color: white;
    border: 1px solid #fff;
    color: black;
}

.logo {
    max-height: 6rem;
}

h1 {
    text-align: center;
    margin-top: 5rem;
}

.image-slider{
		position: relative;
		width: 70%;
		height: 30rem;
		margin: 3rem auto;
		box-shadow: 0 0 10px 2px grey;
	}

.image-slider .img, .image-container {
		width: 100%;
		height: 100%;
	}

.button-left, .button-right{
		position: absolute;
		top:45%;
		padding: .6rem;
		cursor: pointer;
		transition: .5s;
	}

.button-left{
		left: 0px;
	}

.button-right{
		right: 0px;
	}